* {
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
}

html, body {
  height: 100%;
  align-items: center;
  background-color: #f5f5f5;
}

.root {
  min-height: 100%;
  width: 100%;
  padding-bottom: 120px;
}

/******************* content *******************/
#form-title {
  font-weight: 500;
  font-size: 28px;
  margin-bottom: 0px;
}

.content {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 40px;
}

@media (min-width: 600px) {
  .content {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 40px;
  }
}

@media (min-width: 800px) {
  .content {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 40px;
  }
}

@media (min-width: 1200px) {
  .content {
    margin-left: 23%;
    margin-right: 23%;
    margin-top: 40px;
  }
}

.info-box {
  width: 100%;
  border: 2px solid #BBBBBB;
  border-radius: 8px 8px 8px 8px;
  padding: 20px;
}

.form-alert{
  margin-left: 23px;
  color: #EE1D1D;
}

.hint-password{
  margin-left: 23px;
  color: #000;
}

.info-pass-container{
  margin-top: -6px;
  margin-bottom: 6px;
}

#sign-up-continue {
  margin-left: 60px;
}

.right-align-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 0px;
}

#continue-to-address {
  margin-right: 20px;
  margin-left: 10px;
}

#organization-select-container {
  padding-left: 5px; 
  padding-right: 5px;
  padding-bottom: 5px;
  flex: 1;
  display: flex;
}

#label-fullname {
  padding-left: 21px;
}

/******************* select2 *******************/

.select2-selection__rendered {
  line-height: 39px !important;
}
.select2-container .select2-selection--single {
  height: 43px !important;
}
.select2-selection__arrow {
  height: 42px !important;
}

.multi-select-row {
  display: flex;
  margin-top: 5px; 
  padding-left: 5px; 
  padding-right: 5px;
  margin-bottom: 5px; 
}

.select2-container {
  flex: 1;
}
.select2-search__field {
  width: 400px !important;
  height: 42px !important;
}

/******************* step3 *******************/
#shipping-desc {
  color: #BBBBBB;
}

#accept-and-sign-up {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  margin-left: 5px;
  margin-right:20px;
}

#btn-mpad-register {
  padding-bottom: 5px; 
}

#back-to-research-info {
  margin-right: 10px;
  padding-bottom: 5px; 
}

#mpad-checkboxes {
  width: 100%;
}

.checkbox-text {
  margin-bottom: 0px !important;
}

.alert-checkbox {
  -webkit-box-shadow: 0 0 0 1px #fff, 0 0 0 3px #EE1D1D !important;
  box-shadow: 0 0 0 1px #fff, 0 0 0 3px  #EE1D1D !important;
  border-radius: .25rem !important;
}



