<html>

<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/center-status-info-box.css}"/>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<meta http-equiv="Content-Type" content="text/html; charset=US-ASCII"/>
<title th:text="#{label.pages.home.title}">home</title>
</head>
<body>

<div class="top-banner">
    <img class="logo-white" th:src="@{/img/logo_white.png}"/>
    <h1 class="title-label" th:text="#{label.form.title}">form</h1>
</div>

<div class="content">
	<div class="info-box" id="basic-info-box">
        <input id="csrf" type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <h5>delete user by email</h5>
        <input id="email" name="email" type="email" class="form-control" value="" />
        <div id="reset-password"><button class="btn btn-primary" type="submit" onclick="resetPass()" th:text="#{label.form.submit}">reset</button>
        </div>
    </div>
</div>

<div class='footer'>
    <div class="info">
        <a href="https://www.mpdl.mpg.de/terms-of-service-de.html" target="_blank"><u>Privacy Policy</u><a/>
        <div class="contact">
            <p><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Email</p>
            <p><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> Tel.: +4989909311205</p>
        </div>
    </div>
</div>

<script th:inline="javascript">
var serverContext = [[@{/}]];
function resetPass(){
    var email = $("#email").val();
    var csrf_token = $("#csrf").val();
    $.post(serverContext + "user/delete",{ _csrf: csrf_token, email: email},
      function(data){
        alert(data.message);
    })
    .fail(function(data) {
        alert(data);
    });
}
 
</script>

</body>
</html>