<html>

<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/registerStatus.css}"/>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<meta http-equiv="Content-Type" content="text/html; charset=US-ASCII"/>
<title th:text="#{label.pages.home.title}">home</title>
</head>
<body>

<div class="top-banner">
    <img class="logo-white" th:src="@{/img/logo_white.png}"/>
    <h1 class="title-label" th:text="#{label.form.title}">form</h1>
</div>

<div class="content">
	<div class="info-box" id="basic-info-box">
        <input id="csrf" type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <h5 th:text="#{message.resetPassword}">email</h5>
        <input id="email" name="email" type="email" class="form-control" value="" />
        <p th:text="#{message.resetPassword.hint}">email</p>
        <div id="reset-password"><button class="btn btn-primary" type="submit" onclick="resetPass()" th:text="#{label.form.submit}">reset</button>
        </div>
    </div>
</div>

<div class='footer'>
    <div class="info">
        <a href="https://www.mpdl.mpg.de/terms-of-service-de.html" target="_blank"><u>Privacy Policy</u><a/>
        <div class="contact">
            <p><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Email</p>
            <p><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> Tel.:123456</p>
        </div>
    </div>
</div>

<script th:inline="javascript">
var serverContext = [[@{/}]];
function resetPass(){
    var email = $("#email").val();
    var csrf_token = $("#csrf").val();
    $.post(serverContext + "user/resetPassword",{ _csrf: csrf_token, email: email} ,
      function(data){
          window.location.href = 
           serverContext + "login?message=" + data.message;
    })
    .fail(function(data) {
        if(data.responseJSON.error.indexOf("MailError") > -1)
        {
            window.location.href = serverContext + "emailError.html";
        }
        else{
            window.location.href = 
              serverContext + "login?message=" + data.responseJSON.message;
        }
    });
}
 
</script>

</body>
</html>