<html>

<head>
<link rel="shortcut icon" th:href="@{/img/favicon.ico}"/>
<link rel="bookmark" th:href="@{/img/favicon.ico}"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/header.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/center-status-info-box.css}"/>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet" />
<meta http-equiv="Content-Type" content="text/html; charset=US-ASCII"/>
<title th:text="#{label.pages.home.title}">home</title>
</head>
<body>

    <div class="wrap">
        <div class="text-content">
            <h2 class="text-center">MPG Reader</h2> 
        
            <h3 class="text-center">Terms of Use</h3> 

            <p>These Terms of Use (&ldquo;Terms&rdquo;) define the conditions and limits of the MPG Reader on Minerva Pad. Our&#8239;Privacy Policy&#8239;explains the way we collect and use your data and information. By using our services, you agree to the bound by these Terms of Use and our Privacy Policy. Please read the content below carefully.</p>

            <p>The MPG Reader is a free e-book reader on Minerva Pad for all employees of the Max Planck Society and its project partners. It is not allowed to exploit this service for data other than those arising from research projects associated with the Max Planck Society. All content saved in MPG Reader is only accessible by the user himself unless explicitly stated by the user. The MPG Reader and the team will not provide third party access to data.</p>

            <h3 class="text-left">Your Use of MPG Reader:</h3>

            <p></p>

            <li><b>Use of MPG Reader App</b></li>
            <ol style="list-style-position: outside;">

            <li>The MPG Reader application supports .epub and .pdf formats.</li>

            <li>As a user of the MPG Reader, you are able to search, browse, read, and encrypted download e-books that are available within the Max Planck Society with your Minerva Pad anytime anywhere.</li>

            <li>The history of the inputs and search results will be cached automatically.</li>

            <li>All contents downloaded by the user are displayed on the bookshelf of the MPG Reader application.</li>

            <li>The MPG Reader enables the user to search, manage, and delete downloaded e-books in the bookshelf.</li>
            </ol>
            <p></p>

            <li><b>Use of MPG Reader Content</b></li>
            <ol style="list-style-position: outside;">
                <li>We currently provide access to 650.000 titles from different publishers or e-book providers, and the content is regularly updated.</li>

                <li>The downloaded contents will be stored locally encrypted.</li>

                <li>Please note that all contents are licensed but not owned. The users are not allowed to distribute and transfer the contents on the MPG Reader to any third party.</li>
            </ol>

            <p></p>

            <p></p>

            <h3 class="text-left">General Conditions:</h3>

            <p></p>

            <ol style="list-style-position: outside;">
                <li>By using MPG Reader you agree to receive emails about new software releases or new service offerings from us. The aim of our newsletter service is to keep you updated about new software releases or new service offerings. The subscription to our newsletter is not mandatory, if you no longer wish to receive notifications, please send 'Unsubscribe' to <a href="mailto:reader@mpdl.mpg.de">reader@mpdl.mpg.de.</a></li>

                <li>We will not communicate, spread or publish your email-address.</li>

                <li>The MPG Reader reserves the right to alter the Terms of Use at any time.</li>

                <li>MPG Reader operators will make reasonable efforts to communicate these Terms of Use changes to submitters.</li>

                <li>Questions about the Terms of Use should be sent to <a href="mailto:reader@mpdl.mpg.de">reader@mpdl.mpg.de.</a></li>
            </ol>
            <p></p>

            <h3 class="text-left">Legal Statement:</h3>

            <p>  As a service of the Max Planck Digital Library the MPG Reader team is subject to the conditions of the general terms of services of the Max Planck Digital Library. Please make sure you also read and understand the terms of services&#8239;<a href="https://www.mpdl.mpg.de/en/services/tos">here</a>.</p>

            <p>&#8239;</p>

            <p>&#8239;</p>
        </div>
    </div>
</body>
</html>