<html>

<head>
<link rel="shortcut icon" th:href="@{/img/favicon.ico}"/>
<link rel="bookmark" th:href="@{/img/favicon.ico}"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/header.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/center-status-info-box.css}"/>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet" />
<meta http-equiv="Content-Type" content="text/html; charset=US-ASCII"/>
<title th:text="#{label.pages.home.title}">home</title>
</head>
<body>

    <div class="wrap">
        <div class="text-content">
            <h2 class="text-center">MPG Reader</h2> 
        
            <h3 class="text-center">Privacy Policy / Datenschutzhinweis</h3> 

            <p></p>

            <h3>Datenerhebung und Datenverarbeitung</h3>

            <p>Die Max Planck Digital Library (MPDL) legt gro&szlig;en Wert auf den Schutz und die Sicherheit personenbezogener Daten. Dabei richten wir uns nach den entsprechenden Vorgaben des Bundesdatenschutzgesetzes (BDSG) sowie der EU-Datenschutz-Grundverordnung (DSGV).  Auf dieser Seite erhalten Sie genaue Informationen dazu, welche Arten von Daten zu welchen Zwecken erfasst und verarbeitet werden.</p>

            <h3>Benutzerkonten</h3>

            <p>F&uuml;r die Nutzung des MPG Reader ist die Erstellung eines Benutzerkontos zwingend erforderlich. Eine Nutzung dieser Funktionalit&auml;ten ohne die Erstellung eines Kontos und die damit verbundene Speicherung personenbezogener Daten ist nicht m&ouml;glich. Standardm&auml;&szlig;ig wird Ihr Benutzerkonto automatisch mit Ihrem Minerva Pad-Account synchronisiert, dazu m&uuml;ssen Mitarbeiterinnen und Mitarbeiter der Max-Planck-Gesellschaft sich nicht beim MPG Reader erneut anmelden.</p>

            <p>Folgende personenbezogene Daten werden bei der Erstellung eines Benutzerkontos gespeichert:
            <ul><li>Vorname</li>  <li>Nachname</li> <li>Email Adresse</li></ul></p>

            <p>Die Daten werden ausschlie&szlig;lich zum Zwecke der Nutzung der Dienste von MPG Reader verwendet.</p>

            <p>Die Speicherung und Verarbeitung der Daten erfolgt auf Grundlage von berechtigtem Interesse gem&auml;&szlig; Art. 6 Abs. 1 f) DSGVO. Unser berechtigtes Interesse ergibt sich aus dem oben genannten Zweck zur Datenerhebung.</p>

            <p>Ein Benutzerkonto und die damit verbundenen personenbezogenen Daten sowie alle pers&ouml;nlichen Inhalte eines Nutzer im MPG Reader werden in der Regel 30 Tage nach L&ouml;schung eines Accounts automatisch gel&ouml;scht. Sie werden von MPG Reader &uuml;ber wichtige &Auml;nderungen in Bezug auf unseren Service wie z.B. &Auml;nderungen der Vertragsbedingungen oder des Funktionsumfangs informiert.</p>

            <h3>Daten zur Nutzung unseres Service</h3>

            <p>Sobald Sie MPG Reader-Service nutzen, werden folgende Kategorien von Daten f&uuml;r statistische Zwecke und f&uuml;r die reibungslose Bereitstellung unseres Service erhoben:</p>

            <ul>
              <li>Dauer der Mitgliedschaft</li>

              <li>Anzahl und Datum der heruntergeladenen Dateien</li>

              <li>Datum der lezten Aktivit&auml;t auf MPG Reader</li>
            </ul>
            <p></p>

            <h3>Daten zu Inhalten und Dateien innerhalb des Service</h3>

            <p>Wenn Sie unseren Service nutzen, haben Sie die M&ouml;glichkeiten, die elektronische B&uuml;cher zu lesen. Wir haben jedoch keine Rechte, ob und wann die App gestartet wurde, zu &uuml;berwachen. Es findet kein Tracking statt. Auf lokale Dateien haben wir ebenfalls keinen Zugriff.</p>

            <h3>Auskunft, Berichtigung, L&ouml;schung und Sperrung, Widerspruchsrecht</h3>

            <p>Sie sind gem&auml;&szlig; &sect; 34 BDSG (Art. 15 DSGVO) jederzeit berechtigt, gegen&uuml;ber der MPDL um umfangreiche Auskunftserteilung zu den zu Ihrer Person gespeicherten Daten zu ersuchen.</p>

            <p>Ebenso k&ouml;nnen Sie Gem&auml;&szlig; &sect; 35 BDSG jederzeit gegen&uuml;ber der MPDL die Berichtigung (Art. 16 DSGVO), L&ouml;schung (Art. 17 DSGVO) und Sperrung (Art. 18 DSGVO) einzelner personenbezogener Daten verlangen. Sie haben dar&uuml;ber hinaus das Recht, gem&auml;&szlig; Art. 21 DSGVO Widerspruch gegen die Verarbeitung Ihrer personenbezogenen Daten einzulegen, soweit daf&uuml;r Gr&uuml;nde vorliegen, die sich aus Ihrer besonderen Situation ergeben.</p>

            <p>Sie k&ouml;nnen den Widerspruch entweder postalisch, per E-Mail oder per Fax an die MPDL &uuml;bermitteln. Sie haben das Recht, sich bei der zust&auml;ndigen Aufsichtsbeh&ouml;rde zu beschweren (Art. 77 DSGVO). Dies ist f&uuml;r die MPG das Bayerische Landesamt f&uuml;r Datenschutzaufsicht, Postfach 606, 91511 Ansbach.</p>

            <h3>Protokolldateien (Logs)</h3>

            <p>Aus technischen Gr&uuml;nden speichern unsere Server bei Zugriff auf MPG Reader personenbezogene Verbindungsdetails in ihren Protokolldateien, den sogenannten Logfiles. Folgende Daten werden vor&uuml;bergehend gespeichert:</p>

            <p>&bull; Ihre IP-Adresse  &bull; Datum und Uhrzeit Ihres Zugriffs auf die App  &bull; Adresse der aufgerufenen Seite  &bull; Adresse der zuvor besuchten Webseite (Referrer)  &bull; Name und Version Ihres Browsers/Betriebssystems (sofern &uuml;bertragen)</p>

            <p>Die Erfassung der Daten zur Bereitstellung der Applikation und die Speicherung der Daten in Logfiles ist f&uuml;r den Betrieb der Applikation zwingend erforderlich. Diese Daten werden lediglich zur unmittelbaren Bereitstellung unserer Dienste, zur St&ouml;rungsbeseitigung oder zur Abwehr eines Angriffs genutzt und nach kurzer Zeit automatisch gel&ouml;scht.</p>

            <p>Rechtsgrundlage f&uuml;r die vor&uuml;bergehende Speicherung der Daten und der Logfiles ist Art. 6 Abs. 1 f) DSGVO. Die Speicherung in Logfiles erfolgt, um die Funktionsf&auml;higkeit der Applikation sicherzustellen. Zudem dienen uns die Daten zur Optimierung der Applikation, zur St&ouml;rungsbeseitigung und zur Sicherstellung der Sicherheit unserer informationstechnischen Systeme. In diesen Zwecken liegt auch unser berechtigtes Interesse an der Datenverarbeitung.</p>

            <p></p>

            <h3>Cookies</h3>

            <p>Um Ihnen die Nutzung unseres Services zu erleichtern, verwenden wir sog. &ldquo;Session-Cookies&rdquo;. Dabei handelt es sich um kleine Textdateien, die nur f&uuml;r die Dauer Ihres Besuchs unserer App hinterlegt und abh&auml;ngig von der Einstellung Ihres Browser-Programms beim Beenden des Browsers wieder gel&ouml;scht werden. Diese Cookies rufen keine auf Ihrer Festplatte &uuml;ber Sie gespeicherten Informationen ab und beeintr&auml;chtigen nicht Ihr Ger&auml;t oder ihre Dateien.</p>

            <p>Die meisten Browser sind so eingestellt, dass sie Cookies automatisch akzeptieren. Sie k&ouml;nnen das Speichern von Cookies jedoch deaktivieren oder ihren Browser so einstellen, dass er Sie auf die Sendung von Cookies hinweist. Bitte beachten Sie, dass einzelne Funktionen unserer Applikation beeintr&auml;chtigt werden k&ouml;nnten, wenn Sie die Verwendung von Cookies deaktiviert haben.</p>

            <h3>Daten&uuml;bermittlung</h3>

            <p>Ihre personenbezogenen Daten werden nur in den gesetzlich erforderlichen F&auml;llen bzw. zur Strafverfolgung aufgrund von Angriffen auf unsere Netzinfrastruktur an staatliche Einrichtungen und Beh&ouml;rden &uuml;bermittelt. Eine Weitergabe zu anderen Zwecken an Dritte findet nicht statt.</p>

            <h3>&Auml;nderungen der Datenschutzbestimmungen</h3>

            <p>Diese Datenschutzerkl&auml;rung kann ggf. im Laufe der Zeit angepasst werden, weil sich die rechtlichen Rahmenbedingungen ge&auml;ndert haben oder weil neue Funktionalit&auml;ten oder Services dies erfordern. Mit der Nutzung der Applikation erkl&auml;ren Sie sich mit den ge&auml;nderten Bedingungen dieser Richtlinien zum Schutz pers&ouml;nlicher Daten einverstanden.</p>

            <h3>Fragen an die Datenschutzbeauftragte</h3>

            <p>F&uuml;r Fragen zum Thema Datenschutz steht Ihnen die Datenschutzbeauftragte der Max-Planck-Gesellschaft per E-Mail an&#8239;<a href="mailto:datenschutz@mpg.de">datenschutz@mpg.de</a>&#8239;oder telefonisch unter +49 89 2108-1554 zur Verf&uuml;gung.</p>
        </div>
    </div>
</body>
</html>