<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>

<style>
.password-verdict{
color:#000;
}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/floating-labels.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}"/>

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/css/select2.min.css" rel="stylesheet"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js"></script>

<meta http-equiv="Content-Type" content="text/html; charset=US-ASCII"/>
<title th:text="#{label.form.title}">form</title>

<script type="text/javascript">
		var timerStart = Date.now();
</script>
</head>

<body>
    <div class="root">
			<div class="top-banner">
			    <img class="logo-white" th:src="@{/img/logo_white.png}"/>
					<h1 class="title-label" th:text="#{label.form.title}">form</h1>
			</div>

			<div class="content">	
					<div>
							<form action="/" method="POST" enctype="utf8" >
							<input id="csrf" type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

									<div class="info-box" id="basic-info-box" >
											<div class="form-group row">
												<p id="form-title" class="col-sm-8" th:text="#{label.form.registration}">form</p>
											</div>

											<div class="row-container row">
												<div class="form-label-group short-label">
													<input type="text" id="title" class="form-control input-lg" placeholder="#{label.user.title}" name="title" value="">
													<label for="title" th:text="#{label.user.title}">first</label>
												</div>

												<div class="form-label-group long-label">
													<input type="text" id="firstName" class="form-control input-lg" placeholder="#{label.user.firstName}" name="firstName" value="" required>
													<label for="firstName" th:text="#{label.user.firstName}">first</label>
												</div>

												<div class="form-label-group long-label">
													<input type="text" id="lastName" class="form-control input-lg" placeholder="#{label.user.lastName}" name="lastName" value="" required>
													<label for="lastName" th:text="#{label.user.lastName}">Last</label>
												</div>
											</div>

											<div class="row">
												<span id="userNameError" class="form-alert" style="display:none"></span>
											</div>

											<div class="row-container row ">
												<div class="form-label-group long-label" >
													<input type="text" id="email" class="form-control input-lg" placeholder="#{label.user.email}" name="email" value="" required>
													<label for="email" th:text="#{label.user.email}">email</label>
												</div>													
											</div>

											<div class="row">
												<span id="emailError" class="form-alert" style="display:none"></span>
											</div>

											<div class="row-container row ">
												<div class="form-label-group long-label" >
													<input type="text" id="telephone" class="form-control input-lg" placeholder="#{label.user.telephone}" name="telephone" value="" required>
													<label for="telephone" th:text="#{label.user.telephone}">telephone</label>
												</div>													
											</div>

											<div class="row">
												<span id="telephoneError" class="form-alert" style="display:none"></span>
											</div>

											<div class="row-container row">
												<div class="form-label-group short-label">
													<input type="password" id="password" class="form-control input-lg" placeholder="#{label.user.password}" name="password" value="" required>
													<label for="password" th:text="#{label.user.password}">password</label>
												</div>

												<div class="form-label-group short-label">
													<input type="password" id="matchPassword" class="form-control input-lg" placeholder="#{label.user.confirmPass}" name="matchingPassword" value="" required>
													<label for="matchPassword" th:text="#{label.user.confirmPass}">Last</label>
												</div>
											</div>

											<div class="row info-pass-container">
												<span id="passwordHint" class="hint-password" th:text="#{error.password.rule}"></span>
											</div>

											<div class="row info-pass-container">
												<span id="passwordError" class="form-alert" style="display:none"></span>
											</div>
											
											<div class="row-container row ">
												<div id="organization-select-container">
													<select id="organization-select" name="organization">
													</select>
												</div>						
											</div>

											<div class="row-container row ">
												<div class="form-label-group long-label">
													<input type="text" id="department" class="form-control input-lg" placeholder="#{label.user.department}" name="department" value="">
													<label for="department" th:text="#{label.user.department}">department</label>
												</div>
											</div>

											<div class="row-container row ">
												<div class="form-label-group long-label">
													<input type="text" id="role" class="form-control input-lg" placeholder="#{label.user.role}" name="role" value="">
													<label for="role" th:text="#{label.user.role}">role</label>
												</div>
												<button id="sign-up-continue" type="button" class="btn btn-primary" th:text="#{label.form.continue}">continue</button>
											</div>
									</div>


									<div class="info-box" id="research-info-box" style="display: none;">
										<div class="form-group row">
											<p id="form-title" class="col-sm-12" th:text="#{label.form.research}"></p>
										</div>

										<div class="row-container row multi-select-row">
											<select multiple id="research-field" name="researchFields">
													<option value="Astronomy">Astronomy</option>
													<option value="Chemistry">Chemistry</option>
													<option value="Physics">Physics</option>
													<option value="Psychology">Psychology</option>
											</select>
										</div>

										<div class="row-container row">
											<div class="form-label-group short-label">
												<input type="text" id="researchMethods" class="form-control input-lg" placeholder="#{label.form.research.method}" name="researchMethods" value="">
												<label for="researchMethods" th:text="#{label.form.research.method}"></label>
											</div>
										</div>

										<div class="row-container row multi-select-row">
											<select multiple id="research-coordinate-team" name="coordinateTeams">
													<option value="Github">Github</option>
													<option value="Markdown">Markdown</option>
													<option value="Slack">Slack</option>
													<option value="KEEPER">KEEPER</option>
													<option value="Mattermost">Mattermost</option>
													<option value="WhatsApp">WhatsApp</option>
													<option value="Trello">Trello</option>
											</select>
										</div>

										<div class="row right-align-container" style="margin-top: 10px;" >
											<button id="back-to-basic-info" type="button" class="btn btn-primary" th:text="#{label.form.back}">back</button>
											<button id="continue-to-address" type="button" class="btn btn-primary" th:text="#{label.form.continue}">continue</button>
										</div>

									</div>

									<div class="info-box" id="address-info-box" style="display: none;">
										<div class="form-group row">
											<p id="form-title" class="col-sm-8" th:text="#{label.form.shipping}"></p>
										</div>

										<div class="form-group row">
											<p id="shipping-desc" class="col-sm-8" th:text="#{label.shipping.desc}"></p>
										</div>

										<div class="form-group row">
											<h4 id="label-fullname" class="col-sm-8" ></h4>
										</div>

										<div class="row-container row">
												<div class="form-label-group long-label">
													<input type="text" id="shippingOrganization" class="form-control input-lg" placeholder="#{label.user.shipping.organization}" name="shippingOrganization" value="" autocomplete="rutjfkde">
													<label for="shippingOrganization" th:text="#{label.user.shipping.organization}">organization shipping</label>
												</div>

												<div class="form-label-group long-label">
													<input type="text" id="shippingDepartment" class="form-control input-lg" placeholder="#{label.user.shipping.department}" name="shippingDepartment" value="" autocomplete="rutjfkde">
													<label for="shippingDepartment" th:text="#{label.user.shipping.department}">department shipping</label>
												</div>
										</div>


										<div class="row-container row ">
											<div class="form-label-group long-label">
												<input type="text" id="address" class="form-control input-lg" placeholder="#{label.user.address}" name="address" value="" autocomplete="rutjfkde">
												<label for="address" th:text="#{label.user.address}">address</label>
											</div>													
										</div>

										<div class="row-container row">
											<div class="form-label-group short-label">
												<input type="text" id="city" class="form-control input-lg" placeholder="#{label.user.city}" name="city" value="" autocomplete="rutjfkde">
												<label for="city" th:text="#{label.user.city}">city</label>
											</div>

											<div class="form-label-group short-label">
												<input type="text" id="country" class="form-control input-lg" placeholder="#{label.user.country}" name="country" value="" autocomplete="rutjfkde">
												<label for="country" th:text="#{label.user.country}">country</label>
											</div>

											<div class="form-label-group short-label">
												<input type="text" id="zip" class="form-control input-lg" placeholder="#{label.user.zipcode}" name="zip" value="" autocomplete="rutjfkde">
												<label for="zip" th:text="#{label.user.zipcode}"></label>
											</div>
										</div>

										<div id="accept-and-sign-up">
											<div id="mpad-checkboxes">
												<div class="checkbox">
													<label><input type="checkbox" name="privacyCheckbox" value="">I agree to the <a href="https://www.mpdl.mpg.de/terms-of-service-de.html" target="_blank"><u>Privacy Policy</u></a></label>
												</div>

												<div class="checkbox">
													<label><input type="checkbox" name="termCheckbox" value="">I agree to the <a href="https://www.mpdl.mpg.de/terms-of-service-de.html" target="_blank"><u>Terms of Service</u></a></label>
												</div>
											</div>
											<div class="row right-align-container" style="margin-top: 10px;" >
												<button id='back-to-research-info' class="btn btn-primary" th:text="#{label.form.back}">back</button>
												<button id='btn-mpad-register' type="submit" class="btn btn-primary" th:text="#{label.form.register}">submit</button>
											</div>
										</div>

										<div class="form-group row">
											<span id="termsError" class="form-alert" style="display:none"></span>
										</div>	
									</div>

							</form>
							<br/> 
					</div>
			</div>
		</div>
		
		<div class='footer-sticky-bottom'>
			<div class="info">
					<a href="https://www.mpdl.mpg.de/terms-of-service-de.html" target="_blank"><u>Privacy Policy</u><a/>
					<div class="contact">
							<p><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Email</p>
							<p><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> Tel.: +4989909311205</p>
					</div>
			</div>
		</div>

<script th:inline="javascript">

$("#research-coordinate-team").select2({
	placeholder: /*[[#{label.form.research.coordinate}]]*/,
	tags: true,
	dropdownAutoWidth: true
});

$("#research-field").select2({
	placeholder: /*[[#{label.form.research.field}]]*/,
	tags: true,
	dropdownAutoWidth: true
});

$("#organization-select").select2({
	placeholder: "organization",
	dropdownAutoWidth: true,
	minimumResultsForSearch: -1
});

var serverContext = [[@{/}]];

var departments = {
		"biblhertz.it":"Bibliotheca Hertziana - Max-Planck-Institutfür Kunstgeschichte",
		"dkrz.de":"Deutsches Klimarechenzentrum",
		"esi-frankfurt.de":"Ernst Strüngmann Institute (ESI) forNeuroscience in Cooperation with Max-Planck-Society",
		"caesar.de":"Forschungszentrum caesar (center ofadvanced european studies and research)",
		"tuebingen.mpg.de":["Friedrich-Miescher-Laboratorium fürbiologische Arbeitsgruppen in der Max-Planck-Gesellschaft", "Max-Planck-Institut für biologischeKybernetik", "Max-Planck-Institut für Entwicklungsbiologie", "Max-Planck-Institut für Intelligente Systeme,Standort Tübingen"],
		"fhi-berlin.mpg.de":"Fritz-Haber-Institut der Max-Planck-Gesellschaft",
		"gv.mpg.de":"Generalverwaltung",
		"gwdg.de":"GWD Göttingen",
		"hll.mpg.de":"Halbleiterlabor der Max-Planck-Gesellschaft",
		"hda-hd.de":"Haus der Astronomie",
		"khi.fi.it":"Kunsthistorisches Institut in Florenz - Max-Planck-Institut",
		"mpcdf.mpg.de":"Max Planck Computing and Data Facility",
		"rzg.mpg.de":"Max Planck Computing and Data Facility",
		"mpdl.mpg.de":"Max Planck Digital Library",
		"gmail.com":"MPI für testing",
		"maxplanckflorida.org":"Max Planck Florida Institute for Neuroscience",
		"mpfi.org":"Max Planck Florida Institute for Neuroscience",
		"mpfpr.de":"Max Planck Foundation for InternationalPeace and the Rule of Law",
		"gen.mpg.de":"Max-Planck-Forschungsstelle für Neurogenetik",
		"mpi.lu":"Max Planck Institute Luxembourg forInternational, European and RegulatoryProcedural Law",
		"mpia.de":"Max-Planck-Institut für Astronomie",
		"mpia-hd.de":"Max-Planck-Institut für Astronomie",
		"mpa-garching.mpg.de":"Max-Planck-Institut für Astrophysik",
		"mpil.de":"Max-Planck-Institut für ausländischesöffentliches Recht und Völkerrecht",
		"mpipriv.de":"Max-Planck-Institut für ausländisches undinternationales Privatrecht",
		"mpicc.de":"Max-Planck-Institut für ausländisches undinternationales Strafrecht",
		"mpib-berlin.mpg.de":"Max-Planck-Institut für Bildungsforschung",
		"biochem.mpg.de":"Max-Planck-Institut für Biochemie",
		"bgc-jena.mpg.de":"Max-Planck-Institut für Biogeochemie",
		"age.mpg.de":"Max-Planck-Institut für Biologie des Alterns",
		"mpibp-frankfurt.mpg.de":"Max-Planck-Institut für Biophysik",
		"biophys.mpg.de":"Max-Planck-Institut für Biophysik",
		"mpibpc.mpg.de":"Max-Planck-Institut für biophysikalischeChemie",
		"mpic.de":"Max-Planck-Institut für Chemie",
		"cec.mpg.de":"Max-Planck-Institut für chemischeEnergiekonversion",
		"ice.mpg.de":"Max-Planck-Institut für chemische Ökologie",
		"cpfs.mpg.de":"Max-Planck-Institut für Chemische Physikfester Stoffe",
		"demogr.mpg.de":"Max-Planck-Institut für demografischeForschung",
		"mpl.mpg.de":"Max-Planck-Institut für die Physik des Lichts",
		"mpi-magdeburg.mpg.de":"Max-Planck-Institut für Dynamik komplexertechnischer Systeme",
		"ds.mpg.de":"Max-Planck-Institut für Dynamik undSelbstorganisation",
		"mpie.de":"Max-Planck-Institut für Eisenforschung GmbH",
		"aesthetics.mpg.de":"Max-Planck-Institut für empirische Ästhetik",
		"eth.mpg.de":"Max-Planck-Institut für ethnologische Forschung",
		"mpier.uni-frankfurt.de":"Max-Planck-Institut für europäischeRechtsgeschichte",
		"rg.mpg.de":"Max-Planck-Institut für europäischeRechtsgeschichte",
		"eva.mpg.de":"Max-Planck-Institut für evolutionäreAnthropologie",
		"evolbio.mpg.de":"Max-Planck-Institut für Evolutionsbiologie",
		"em.mpg.de":"Max-Planck-Institut für experimentelle Medizin",
		"mpe.mpg.de":"Max-Planck-Institut für extraterrestrische Physik",
		"fkf.mpg.de":"Max-Planck-Institut für Festkörperforschung",
		"mpifg.de":"Max-Planck-Institut für Gesellschaftsforschung",
		"aei.mpg.de":["Max-Planck-Institut für Gravitationsphysik", "Max-Planck-Institut für Gravitationsphysik, Teilinstitut Hannover"],
		"kerckhoff.mpg.de":"Max-Planck-Institut für Herz- undLungenforschung",
		"mpi-bn.mpg.de":"Max-Planck-Institut für Herz- undLungenforschung",
		"mpih-frankfurt.mpg.de":"Max-Planck-Institut für Hirnforschung",
		"brain.mpg.de":"Max-Planck-Institut für Hirnforschung",
		"immunbio.mpg.de":"Max-Planck-Institut für Immunbiologie",
		"ie-freiburg.mpg.de":"Max-Planck-Institut für Immunbiologie und Epigenetik",
		"mpiib-berlin.mpg.de":"Max-Planck-Institut für Infektionsbiologie",
		"mpi-inf.mpg.de":"Max-Planck-Institut für Informatik",
		"mpi-klsb.mpg.de":["Max-Planck-Institut für Informatik", "Max-Planck-Institut für Softwaresysteme, Standort Kaiserslautern", "Max-Planck-Institut für Softwaresysteme, Standort Saarbrücken"],
		"ip.mpg.de":"Max-Planck-Institut für Innovation undWettbewerb",
		"is.mpg.de":"Max-Planck-Institut für Intelligente Systeme,Standort Stuttgart",
		"mpi-hd.mpg.de":"Max-Planck-Institut für Kernphysik",
		"cbs.mpg.de":"Max-Planck-Institut für Kognitions- und Neurowissenschaften",
		"kofo.mpg.de":"Max-Planck-Institut für Kohlenforschung",
		"mpikg-golm.mpg.de":"Max-Planck-Institut für Kolloid- und Grenzflächenforschung",
		"mpikg.mpg.de":"Max-Planck-Institut für Kolloid- und Grenzflächenforschung",
		"mpil-ploen.mpg.de":"Max-Planck-Institut für Limnologie",
		"mpi-bremen.de":"Max-Planck-Institut für marine Mikrobiologie",
		"mpim-bonn.mpg.de":"Max-Planck-Institut für Mathematik",
		"mis.mpg.de":"Max-Planck-Institut für Mathematik in den Naturwissenschaften",
		"mpimf-heidelberg.mpg.de":"Max-Planck-Institut für medizinische Forschung",
		"shh.mpg.de":"Max-Planck-Institut für Menschheitsgeschichte",
		"zmaw.de":"Max-Planck-Institut für Meteorologie",
		"mpimet.mpg.de":"Max-Planck-Institut für Meteorologie",
		"mpi-halle.mpg.de":"Max-Planck-Institut für Mikrostrukturphysik",
		"mpi-halle.de":"Max-Planck-Institut für Mikrostrukturphysik",
		"mpi-muenster.mpg.de":"Max-Planck-Institut für molekulare Biomedizin",
		"molgen.mpg.de":"Max-Planck-Institut für molekulare Genetik",
		"mpimp-golm.mpg.de":"Max-Planck-Institut für molekulare Pflanzenphysiologie",
		"cgc.mpg.de":"Max-Planck-Institut für molekulare Physiologie",
		"mpi-dortmund.mpg.de":"Max-Planck-Institut für molekulare Physiologie",
		"mpi-cbg.de":"Max-Planck-Institut für molekulare Zellbiologie und Genetik",
		"neuro.mpg.de":"Max-Planck-Institut für Neurobiologie",
		"nf.mpg.de":"Max-Planck-Institut für neurologische Forschung",
		"econ.mpg.de":"Max-Planck-Institut für Ökonomik",
		"orn.mpg.de":["Max-Planck-Institut für Ornithologie", "Max-Planck-Institut für Ornithologie, Teilinstitut Radolfzell"],
		"mpipz.mpg.de":"Max-Planck-Institut für Pflanzenzüchtungsforschung",
		"mpiz-koeln.mpg.de":"Max-Planck-Institut für Pflanzenzüchtungsforschung",
		"mppmu.mpg.de":"Max-Planck-Institut für Physik",
		"mpp.mpg.de":"Max-Planck-Institut für Physik",
		"pks.mpg.de":"Max-Planck-Institut für Physik komplexer Systeme",
		"mpipks-dresden.mpg.de":"Max-Planck-Institut für Physik komplexer Systeme",
		"ipp.mpg.de":["Max-Planck-Institut für Plasmaphysik", "Max-Planck-Institut für Plasmaphysik, Teilinstitut Greifswald"],
		"mpip-mainz.mpg.de":"Max-Planck-Institut für Polymerforschung",
		"mpipsykl.mpg.de":"Max-Planck-Institut für Psychiatrie",
		"psych.mpg.de":"Max-Planck-Institut für Psychiatrie",
		"mpi.nl":"Max-Planck-Institut für Psycholinguistik",
		"mpq.mpg.de":"Max-Planck-Institut für Quantenoptik",
		"mpifr.de":"Max-Planck-Institut für Radioastronomie",
		"mpifr-bonn.mpg.de":"Max-Planck-Institut für Radioastronomie",
		"mpi-sws.or":"Max-Planck-Institut für Softwaresysteme, Standort Kaiserslautern",
		"mps.mpg.de":"Max-Planck-Institut für Sonnensystemforschung",
		"mpisoc.mpg.de":"Max-Planck-Institut für Sozialrecht und Sozialpolitik",
		"tax.mpg.de":"Max-Planck-Institut für Steuerrecht und Öffentliche Finanzen",
		"sf.mpg.de":"Max-Planck-Institut für Stoffwechselforschung",
		"mpsd.mpg.de":"Max-Planck-Institut für Struktur und Dynamik der Materie",
		"mpi-marburg.mpg.de":"Max-Planck-Institut für terrestrische Mikrobiologie",
		"mpiwg-berlin.mpg.de":"Max-Planck-Institut für Wissenschaftsgeschichte",
		"mmg.mpg.de":"Max-Planck-Institut zur Erforschung multireligiöser und multiethnischer Gesellschaften",
		"coll.mpg.de":"Max-Planck-Institut zur Erforschung von Gemeinschaftsgütern",
		"mpi-muelheim.mpg.de":"Mülheimer Institute",
		"mpis.mpg.de":"Stuttgarter Institute",
}

function updateInstitute() {
	var email = $("#email").val();
		var department_id = email.substring(email.indexOf('@')+1);
		if (email.trim().indexOf('@') === 0) {
			$("#emailError").show().html("Invalid email");
		}

		if (departments[department_id]) {
			if (Array.isArray(departments[department_id])) {
				for (i=0; i < departments[department_id].length; i++) {
					$('#organization-select').append(new Option(departments[department_id][i], departments[department_id][i], false, false)).trigger('change');
				}
			} else {
					$('#organization-select').append(new Option(departments[department_id], departments[department_id], false, false)).trigger('change');
			}
		} else {
			$("#emailError").show().html(/*[[#{EmailMatches.org}]]*/);
			$("#emailError").css("color", "orange");
			$("#organization-select").val('');
		}

		var csrf_token = $("#csrf").val();
		$.post(serverContext + "validEmail",{ _csrf: csrf_token, email: email} ,
			function(data){
				if(data.code === 500) {
					$('#emailError').show().html(data.message);
				}
		})
		.fail(function(data) {
		});
}

$(document).ready(function () {
	$('.info').children().first().hide()  //fix: strange styling link element 
	var emailStr = window.location.href.split("?").reverse()[0];
	if (email = emailStr.includes("email=")) {
		var email = emailStr.split("email=").reverse()[0];
		$('#email').val(email);  
		updateInstitute()
	} 

	$(window).keydown(function(event){
    if(event.keyCode == 13) {
      event.preventDefault();
      return false;
    }
  });

	$('#sign-up-continue').click(function(event) {
		continue_register(event);
	});

	$('#back-to-basic-info').click(function(event) {
		$('#basic-info-box').show();
		$('#research-info-box').hide();
	});

	$('#back-to-research-info').click(function(event) {
		event.preventDefault();
		$('#research-info-box').show();
		$('#address-info-box').hide();
	});

	$('#continue-to-address').click(function(event) {
		$('#research-info-box').hide();
		$('#address-info-box').show();
		$("#termsError").hide();
	});

	$('form').submit(function(event) {
		register(event);
	});

	$("#firstName").focus(function(){
		$("#userNameError").html("").hide();
	});

	$("#lastName").focus(function(){
		$("#userNameError").html("").hide();
	});

	$("#email").focus(function(){
			$("#emailError").html("").hide();
	});
	
	$("#email").focusout(function(){
			$('#organization-select').empty().trigger("change");
			updateInstitute();
	});

	$("#telephone").focus(function(){
		$("#telephoneError").html("").hide();
	});
	
	$("#matchPassword").focus(function(){
		$("#passwordError").html("").hide();
	});

	$("#password").focus(function(){
		$("#passwordError").html("").hide();
	});

	$("#zip").focus(function(){
		$("#termsError").html("").hide();
	});

	$("#address").focus(function(){
		$("#termsError").html("").hide();
	});

	$("#city").focus(function(){
		$("#termsError").html("").hide();
	});
});

function continue_register(event) {
		$("#label-firstName").text();
		if ($('#firstName').val().length <= 0) {
			$('#userNameError').show().html("Please fill in your first name");
		}	else if ($('#lastName').val().length <= 0) {
			$('#userNameError').show().html("Please fill in your last name");
		} else if ($('#email').val().length <= 0){
			$('#emailError').show().html("Please fill in your email");
			$('#emailError').css("color", "red");
		}else if ($('#telephone').val().length <= 0){
			$('#telephoneError').show().html("Please fill in your telephone");
		}	else if ($('#organization-select').val().length <= 0) {
			$("#emailError").show().html(/*[[#{EmailMatches.org}]]*/);
		} else if ($('#password').val().length <= 0 || $('#matchPassword').val().length <= 0) {
			$("#passwordError").show().html("Please fill in your password");
			$("#passwordHint").hide();
		} else if ($('#password').val() !== $('#matchPassword').val()) {
			$("#passwordError").show().html(/*[[#{PasswordMatches.user}]]*/);
			$("#passwordHint").hide();
		} else if ($('#password').val().length < 6) {
			$("#passwordError").show().html(/*[[#{error.password.rule}]]*/);
			$("#passwordHint").hide();
		} else if ($('#emailError').is(':visible')) {
			return;
		} else {
			var fullname = $("#title").val() + " " + $("#firstName").val() + " " + $("#lastName").val()
			var department = $("#department").val()
			var organization = $('#organization-select').val()

			$('#basic-info-box').hide();
			$('#research-info-box').show();
			$('#label-fullname').text(fullname);
			$('#shippingDepartment').val(department);
			$('#shippingOrganization').val(organization);

		}
}

function register(event){
	event.preventDefault();
	var privacyAccepted = $('input[name="privacyCheckbox"]:checked').length > 0 
	var termsAccepted = $('input[name="termCheckbox"]:checked').length > 0
	if (!termsAccepted && !privacyAccepted) {
		$("#termsError").show().html(/*[[#{Checked.termsandprivacy}]]*/);
			return;
	} else if (!termsAccepted) {
		$("#termsError").show().html(/*[[#{Checked.terms}]]*/);
			return;
	} else if (!privacyAccepted){
		$("#termsError").show().html(/*[[#{Checked.privacy}]]*/);
			return;
	}

	if ($("#zip").val().length === 0 || $("#city").val().length === 0 || $("#address").val().length === 0) {
		$("#termsError").show().html(/*[[#{message.address}]]*/);
		 return;
	}

	var formData= $('form').serialize();
	$.post(serverContext + "user/registration",formData ,function(data){
			if(data.message == "success"){
					window.location.href = serverContext + "successRegister.html";
			} else if (!data.message) {
					window.location.href = serverContext + "invalidSession.html";
			}
	})
	.fail(function(data) {
			if(data.responseJSON.error.indexOf("MailError") > -1)
			{
					window.location.href = serverContext + "emailError.html";
			}
			else if(data.responseJSON.error == "UserAlreadyExist"){
					$("#termsError").show().html(data.responseJSON.message);
			}
			else if(data.responseJSON.error.indexOf("InternalError") > -1){
					window.location.href = serverContext + "login?message=" + data.responseJSON.message;
			}
			else if(data.status === 403) {
				window.location.href = serverContext + "invalidSession.html";
			}
			else{
				var errors = $.parseJSON(data.responseJSON.message);
					$.each( errors, function( index,item ){
						console.log(item.defaultMessage);
						if (item.field){
							$("#termsError").show().append(item.defaultMessage+"<br/>");
						}
						else {
							$("#termsError").show().append(item.defaultMessage+"<br/>");
						}
				});
			}
    });
}
</script>
</body>

</html>
