<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
<style>
.password-verdict{
color:#000;
}
</style>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script th:src="@{/resources/pwstrength.js}"></script>
<meta http-equiv="Content-Type" content="text/html; charset=US-ASCII"/>
<title th:text="#{label.form.title}">form</title>
</head>
<body>
    <div class="container">
        <div >
            <h1 class="text-center" th:text="#{label.form.title}">form</h1>
            <br/>

            <form action="/" method="POST" enctype="utf8" >
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                <div class="form-group row" >
	                <label class="col-sm-2"></label>
	                <p class="col-sm-8" th:text="#{label.form.description}">form</p>
                </div>
            	<br/>
                <div class="form-group row" >
                    <label class="col-sm-2"></label>
                    <label class="col-sm-2" th:text="#{label.user.firstName}">first</label>
                    <span class="col-sm-6"><input class="form-control" name="firstName" value="" required="required"/></span>
                    <span id="firstNameError" class="alert alert-danger col-sm-2" style="display:none"></span>                    
                </div>
                <div class="form-group row">
                    <label class="col-sm-2"></label>
                    <label class="col-sm-2" th:text="#{label.user.lastName}">last</label>
                    <span class="col-sm-6"><input class="form-control" name="lastName" value="" required="required"/></span>
                    <span id="lastNameError" class="alert alert-danger col-sm-2" style="display:none"></span>
                    
                </div>
                <div class="form-group row">
                	<label class="col-sm-2"></label>
                    <label class="col-sm-2" th:text="#{label.user.email}">email</label>
                    <span class="col-sm-6"><input id="email" type="email" class="form-control" name="email" value="" required="required"/></span>                    
                    <span id="emailError" class="alert alert-danger col-sm-2" style="display:none"></span>
                    
                </div>
                <div class="form-group row">
                	<label class="col-sm-2"></label>
                    <label class="col-sm-2" th:text="#{label.user.password}">password</label>
                    <span class="col-sm-6"><input id="password" class="form-control" name="password" value="" type="password" required="required"/></span>
                    <span id="passwordError" class="alert alert-danger col-sm-2" style="display:none"></span>
                </div>
                <div class="form-group row">
                	<label class="col-sm-2"></label>
                    <label class="col-sm-2" th:text="#{label.user.confirmPass}">confirm</label>
                    <span class="col-sm-6"><input id="matchPassword" class="form-control" name="matchingPassword" value="" type="password" required="required"/></span>
                    <span id="globalError" class="alert alert-danger col-sm-2" style="display:none"></span>
                </div>
                <div class="form-group row">
                	<label class="col-sm-2"></label>
                    <label class="col-sm-2" th:text="#{label.user.organization}">organization</label>
                    <span class="col-sm-6"><input id="organization" type="form-control" class="form-control" name="organization" value="" required="required" readonly/></span>                    
                    
                </div>
                <div class="form-group row">
                	<label class="col-sm-2"></label>
                    <label class="col-sm-2" th:text="#{label.user.department}">department</label>
                    <span class="col-sm-6"><input type="form-control" class="form-control" name="department" value=""/></span>                    
                    <span id="departmentError" class="alert alert-danger col-sm-2" style="display:none"></span>
                    
                </div>
                
                <br/>
                <div class="form-group row">
                    <label class="col-sm-2"></label>
                	<label class="h2 col-sm-8">
  						MPG/MPDL Terms of Service
					</label>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2"></label>
                	<div class="checkbox col-sm-5">
  						<label><input type="checkbox" id="termCheckbox" value="">I accept the terms of Service</label>
					</div>
                </div>

                
                <br/>
                <div class="form-group row">
                    <label class="col-sm-2"></label>
                	<button type="submit" class="" th:text="#{label.form.register}">submit</button>
                </div>	
            </form>
            <br/> 
           <!--  <a th:href="@{/login}" th:text="#{label.form.loginLink}">login</a> -->
        </div>
    </div>

<script th:inline="javascript">
var serverContext = [[@{/}]];

var departments = {
		"biblhertz.it":"Bibliotheca Hertziana - Max-Planck-Institutfür Kunstgeschichte",
		"dkrz.de":"Deutsches Klimarechenzentrum",
		"esi-frankfurt.de":"Ernst Strüngmann Institute (ESI) forNeuroscience in Cooperation with Max-Planck-Society",
		"caesar.de":"Forschungszentrum caesar (center ofadvanced european studies and research)",
		"tuebingen.mpg.de":"Friedrich-Miescher-Laboratorium fürbiologische Arbeitsgruppen in der Max-Planck-Gesellschaft",
		"fhi-berlin.mpg.de":"Fritz-Haber-Institut der Max-Planck-Gesellschaft",
		"gv.mpg.de":"Generalverwaltung",
		"gwdg.de":"GWD Göttingen",
		"hll.mpg.de":"Halbleiterlabor der Max-Planck-Gesellschaft",
		"hda-hd.de":"Haus der Astronomie",
		"khi.fi.it":"Kunsthistorisches Institut in Florenz - Max-Planck-Institut",
		"mpcdf.mpg.de":"Max Planck Computing and Data Facility",
		"rzg.mpg.de":"Max Planck Computing and Data Facility",
		"mpdl.mpg.de":"Max Planck Digital Library",
		"maxplanckflorida.org":"Max Planck Florida Institute for Neuroscience",
		"mpfi.org":"Max Planck Florida Institute for Neuroscience",
		"mpfpr.de":"Max Planck Foundation for InternationalPeace and the Rule of Law",
		"gen.mpg.de":"Max-Planck-Forschungsstelle für Neurogenetik",
		"mpi.lu":"Max Planck Institute Luxembourg forInternational, European and RegulatoryProcedural Law",
		"mpia.de":"Max-Planck-Institut für Astronomie",
		"mpia-hd.de":"Max-Planck-Institut für Astronomie",
		"mpa-garching.mpg.de":"Max-Planck-Institut für Astrophysik",
		"mpil.de":"Max-Planck-Institut für ausländischesöffentliches Recht und Völkerrecht",
		"mpipriv.de":"Max-Planck-Institut für ausländisches undinternationales Privatrecht",
		"mpicc.de":"Max-Planck-Institut für ausländisches undinternationales Strafrecht",
		"mpib-berlin.mpg.de":"Max-Planck-Institut für Bildungsforschung",
		"biochem.mpg.de":"Max-Planck-Institut für Biochemie",
		"bgc-jena.mpg.de":"Max-Planck-Institut für Biogeochemie",
		"age.mpg.de":"Max-Planck-Institut für Biologie des Alterns",
		"tuebingen.mpg.de":"Max-Planck-Institut für biologischeKybernetik",
		"mpibp-frankfurt.mpg.de":"Max-Planck-Institut für Biophysik",
		"biophys.mpg.de":"Max-Planck-Institut für Biophysik",
		"mpibpc.mpg.de":"Max-Planck-Institut für biophysikalischeChemie",
		"mpic.de":"Max-Planck-Institut für Chemie",
		"cec.mpg.de":"Max-Planck-Institut für chemischeEnergiekonversion",
		"ice.mpg.de":"Max-Planck-Institut für chemische Ökologie",
		"cpfs.mpg.de":"Max-Planck-Institut für Chemische Physikfester Stoffe",
		"demogr.mpg.de":"Max-Planck-Institut für demografischeForschung",
		"mpl.mpg.de":"Max-Planck-Institut für die Physik des Lichts",
		"mpi-magdeburg.mpg.de":"Max-Planck-Institut für Dynamik komplexertechnischer Systeme",
		"ds.mpg.de":"Max-Planck-Institut für Dynamik undSelbstorganisation",
		"mpie.de":"Max-Planck-Institut für Eisenforschung GmbH",
		"aesthetics.mpg.de":"Max-Planck-Institut für empirische Ästhetik",
		"tuebingen.mpg.de":"Max-Planck-Institut für Entwicklungsbiologie",
		"eth.mpg.de":"Max-Planck-Institut für ethnologische Forschung",
		"mpier.uni-frankfurt.de":"Max-Planck-Institut für europäischeRechtsgeschichte",
		"rg.mpg.de":"Max-Planck-Institut für europäischeRechtsgeschichte",
		"eva.mpg.de":"Max-Planck-Institut für evolutionäreAnthropologie",
		"evolbio.mpg.de":"Max-Planck-Institut für Evolutionsbiologie",
		"em.mpg.de":"Max-Planck-Institut für experimentelle Medizin",
		"mpe.mpg.de":"Max-Planck-Institut für extraterrestrische Physik",
		"fkf.mpg.de":"Max-Planck-Institut für Festkörperforschung",
		"mpifg.de":"Max-Planck-Institut für Gesellschaftsforschung",
		"aei.mpg.de":"Max-Planck-Institut für Gravitationsphysik",
		"!!aei.mpg.de":"Max-Planck-Institut für Gravitationsphysik, Teilinstitut Hannover",
		"kerckhoff.mpg.de":"Max-Planck-Institut für Herz- undLungenforschung",
		"mpi-bn.mpg.de":"Max-Planck-Institut für Herz- undLungenforschung",
		"mpih-frankfurt.mpg.de":"Max-Planck-Institut für Hirnforschung",
		"brain.mpg.de":"Max-Planck-Institut für Hirnforschung",
		"immunbio.mpg.de":"Max-Planck-Institut für Immunbiologie",
		"ie-freiburg.mpg.de":"Max-Planck-Institut für Immunbiologie und Epigenetik",
		"mpiib-berlin.mpg.de":"Max-Planck-Institut für Infektionsbiologie",
		"mpi-inf.mpg.de":"Max-Planck-Institut für Informatik",
		"mpi-klsb.mpg.de":"Max-Planck-Institut für Informatik",
		"ip.mpg.de":"Max-Planck-Institut für Innovation undWettbewerb",
		"is.mpg.de":"Max-Planck-Institut für Intelligente Systeme,Standort Stuttgart",
		"tuebingen.mpg.de":"Max-Planck-Institut für Intelligente Systeme,Standort Tübingen",
		"mpi-hd.mpg.de":"Max-Planck-Institut für Kernphysik",
		"cbs.mpg.de":"Max-Planck-Institut für Kognitions- und Neurowissenschaften",
		"kofo.mpg.de":"Max-Planck-Institut für Kohlenforschung",
		"mpikg-golm.mpg.de":"Max-Planck-Institut für Kolloid- und Grenzflächenforschung",
		"mpikg.mpg.de":"Max-Planck-Institut für Kolloid- und Grenzflächenforschung",
		"mpil-ploen.mpg.de":"Max-Planck-Institut für Limnologie",
		"mpi-bremen.de":"Max-Planck-Institut für marine Mikrobiologie",
		"mpim-bonn.mpg.de":"Max-Planck-Institut für Mathematik",
		"mis.mpg.de":"Max-Planck-Institut für Mathematik in den Naturwissenschaften",
		"mpimf-heidelberg.mpg.de":"Max-Planck-Institut für medizinische Forschung",
		"shh.mpg.de":"Max-Planck-Institut für Menschheitsgeschichte",
		"zmaw.de":"Max-Planck-Institut für Meteorologie",
		"mpimet.mpg.de":"Max-Planck-Institut für Meteorologie",
		"mpi-halle.mpg.de":"Max-Planck-Institut für Mikrostrukturphysik",
		"mpi-halle.de":"Max-Planck-Institut für Mikrostrukturphysik",
		"mpi-muenster.mpg.de":"Max-Planck-Institut für molekulare Biomedizin",
		"molgen.mpg.de":"Max-Planck-Institut für molekulare Genetik",
		"mpimp-golm.mpg.de":"Max-Planck-Institut für molekulare Pflanzenphysiologie",
		"cgc.mpg.de":"Max-Planck-Institut für molekulare Physiologie",
		"mpi-dortmund.mpg.de":"Max-Planck-Institut für molekulare Physiologie",
		"mpi-cbg.de":"Max-Planck-Institut für molekulare Zellbiologie und Genetik",
		"neuro.mpg.de":"Max-Planck-Institut für Neurobiologie",
		"nf.mpg.de":"Max-Planck-Institut für neurologische Forschung",
		"econ.mpg.de":"Max-Planck-Institut für Ökonomik",
		"orn.mpg.de":"Max-Planck-Institut für Ornithologie",
		"!!orn.mpg.de":"Max-Planck-Institut für Ornithologie, Teilinstitut Radolfzell",
		"mpipz.mpg.de":"Max-Planck-Institut für Pflanzenzüchtungsforschung",
		"mpiz-koeln.mpg.de":"Max-Planck-Institut für Pflanzenzüchtungsforschung",
		"mppmu.mpg.de":"Max-Planck-Institut für Physik",
		"mpp.mpg.de":"Max-Planck-Institut für Physik",
		"pks.mpg.de":"Max-Planck-Institut für Physik komplexer Systeme",
		"mpipks-dresden.mpg.de":"Max-Planck-Institut für Physik komplexer Systeme",
		"ipp.mpg.de":"Max-Planck-Institut für Plasmaphysik",
		"!!ipp.mpg.de":"Max-Planck-Institut für Plasmaphysik, Teilinstitut Greifswald",
		"mpip-mainz.mpg.de":"Max-Planck-Institut für Polymerforschung",
		"mpipsykl.mpg.de":"Max-Planck-Institut für Psychiatrie",
		"psych.mpg.de":"Max-Planck-Institut für Psychiatrie",
		"mpi.nl":"Max-Planck-Institut für Psycholinguistik",
		"mpq.mpg.de":"Max-Planck-Institut für Quantenoptik",
		"mpifr.de":"Max-Planck-Institut für Radioastronomie",
		"mpifr-bonn.mpg.de":"Max-Planck-Institut für Radioastronomie",
		"mpi-sws.or":"Max-Planck-Institut für Softwaresysteme, Standort Kaiserslautern",
		"mpi-klsb.mpg.de":"Max-Planck-Institut für Softwaresysteme, Standort Kaiserslautern",
		"!!mpi-klsb.mpg.de":"Max-Planck-Institut für Softwaresysteme, Standort Saarbrücken",
		"mps.mpg.de":"Max-Planck-Institut für Sonnensystemforschung",
		"mpisoc.mpg.de":"Max-Planck-Institut für Sozialrecht und Sozialpolitik",
		"tax.mpg.de":"Max-Planck-Institut für Steuerrecht und Öffentliche Finanzen",
		"sf.mpg.de":"Max-Planck-Institut für Stoffwechselforschung",
		"mpsd.mpg.de":"Max-Planck-Institut für Struktur und Dynamik der Materie",
		"mpi-marburg.mpg.de":"Max-Planck-Institut für terrestrische Mikrobiologie",
		"mpiwg-berlin.mpg.de":"Max-Planck-Institut für Wissenschaftsgeschichte",
		"mmg.mpg.de":"Max-Planck-Institut zur Erforschung multireligiöser und multiethnischer Gesellschaften",
		"coll.mpg.de":"Max-Planck-Institut zur Erforschung von Gemeinschaftsgütern",
		"mpi-muelheim.mpg.de":"Mülheimer Institute",
		"mpis.mpg.de":"Stuttgarter Institute",
}


$(document).ready(function () {
	$('form').submit(function(event) {
		register(event);
	});
	
	$("#matchPassword").focusout(function(){
		if($("#password").val() != $("#matchPassword").val()){
	        $("#globalError").show().html(/*[[#{PasswordMatches.user}]]*/);
	    }else{
	    	$("#globalError").html("").hide();
	    }
	});
	
   $("#matchPassword").focus(function(){
	   $("#globalError").html("").hide();
    });
   
   $("#email").focus(function(){
       $("#emailError").html("").hide();
       $("#globalError").html("").hide();
   });
   
   $("#email").focusout(function(){
       var email = $("#email").val();
       var department_id = email.substring(email.indexOf('@')+1);
       if (departments[department_id]) {
         $("#organization").val(departments[department_id]);
       } else {
    	   $("#globalError").show().html(/*[[#{EmailMatches.org}]]*/);
       }
   });
	
	options = {
		    common: {minChar:8},
		    ui: {
		    	showVerdictsInsideProgressBar:true,
		    	showErrors:true,
		    	errorMessages:{
		    		  wordLength: /*[[#{error.wordLength}]]*/,
		    		  wordNotEmail: /*[[#{error.wordNotEmail}]]*/,
		    		  wordSequences: /*[[#{error.wordSequences}]]*/,
		    		  wordLowercase: /*[[#{error.wordLowercase}]]*/,
		    		  wordUppercase: /*[[#{error.wordUppercase}]]*/,
		    	          wordOneNumber: /*[[#{error.wordOneNumber}]]*/,
		    		  wordOneSpecialChar: /*[[#{error.wordOneSpecialChar}]]*/
		    		}
		    	}
		};
	
	//$('#password').pwstrength(options);
	
});

function register(event){
	event.preventDefault();
	var accepted = $("input:checked").length
	if (!accepted) {
		$("#globalError").show().html(/*[[#{Checked.terms}]]*/);
		 return;
	};
	
    $(".alert").html("").hide();
    $(".error-list").html("");
    if($("#password").val() != $("#matchPassword").val()){
    	$("#globalError").show().html(/*[[#{PasswordMatches.user}]]*/);
    	return;
    }
    var formData= $('form').serialize();
    $.post(serverContext + "user/registration",formData ,function(data){
        if(data.message == "success"){
            window.location.href = serverContext + "successRegister.html";
        }
        
    })
    .fail(function(data) {
        if(data.responseJSON.error.indexOf("MailError") > -1)
        {
            window.location.href = serverContext + "emailError.html";
        }
        else if(data.responseJSON.error == "UserAlreadyExist"){
            $("#emailError").show().html(data.responseJSON.message);
        }
        else if(data.responseJSON.error.indexOf("InternalError") > -1){
            window.location.href = serverContext + "login?message=" + data.responseJSON.message;
        }
        else{
        	var errors = $.parseJSON(data.responseJSON.message);
            $.each( errors, function( index,item ){
            	if (item.field){
            		$("#"+item.field+"Error").show().append(item.defaultMessage+"<br/>");
            	}
            	else {
            		$("#globalError").show().append(item.defaultMessage+"<br/>");
            	}
               
            });
        }
    });
}

</script>
</body>

</html>
