<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
<meta http-equiv="Content-Type" content="text/html; charset=US-ASCII"/>
<style>
.password-verdict{
color:#000;
}
</style>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/registerStatus.css}"/>
<title th:text="#{message.updatePassword}">update password</title>
</head>
<body>


<div class="top-banner">
    <img class="logo-white" th:src="@{/img/logo_white.png}"/>
    <h1 class="title-label" th:text="#{label.form.title}">form</h1>
</div>

<div class="content">
	<div class="info-box-reset-password" id="basic-info-box">
            <h4 th:text="#{message.resetYourPassword}">reset password</h4>
            <form >
                <br/>
                    <input id="csrf" type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                    <div id="password-update"><span><input class="form-control" id="password" name="newPassword" type="password" value="" th:placeholder="#{label.user.password}"/></span></div>
                    <br/>
                    <div id="password-confirm"><span><input class="form-control" id="matchPassword" type="password" value="" th:placeholder="#{label.user.confirmPass}"/></span></div>
                    <div id="passwordHint" th:text="#{error.password.rule}">error</div>
                    <div id="globalError" style="display:none;color:#EE1D1D" th:text="#{PasswordMatches.user}">error</div>
                    <br/>
                <button class="btn btn-primary" type="submit" onclick="savePass()" th:text="#{message.updatePassword}">submit</button>
                </div>
            </form>
            
    </div>
</div>

<div class='footer'>
    <div class="info">
        <a href="https://www.mpdl.mpg.de/terms-of-service-de.html" target="_blank"><u>Privacy Policy</u><a/>
        <div class="contact">
            <p><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Email</p>
            <p><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> Tel.:123456</p>
        </div>
    </div>
</div>
   
<script th:inline="javascript">
var serverContext = [[@{/}]];
$(document).ready(function () {
    $('form').submit(function(event) {
        savePass(event);
    });
});
function savePass(event){
    event.preventDefault();
    if ($('#password').val().length < 6) {
		$("#globalError").show().html(/*[[#{error.password.rule}]]*/);
        $("#passwordHint").hide();
        return;
    }

    if($("#password").val() != $("#matchPassword").val()){
        $("#globalError").show().html(/*[[#{PasswordMatches.user}]]*/);
        $("#passwordHint").hide();
        return;
    }
    var formData= $('form').serialize();
    $.post(serverContext + "user/savePassword",formData ,function(data){
        window.location.href = serverContext + "login?message="+data.message;
    })
    .fail(function(data) {
        if(data.responseJSON.error.indexOf("InternalError") > -1){
        	window.location.href = serverContext + "login?message=" + data.responseJSON.message;
        }
        else{
            var errors = $.parseJSON(data.responseJSON.message);
            $.each( errors, function( index,item ){
                $("#globalError").show().html(item.defaultMessage);
            });
            errors = $.parseJSON(data.responseJSON.error);
            $.each( errors, function( index,item ){
                $("#globalError").show().append(item.defaultMessage+"<br/>");
            });
        }
    });
}
</script>    
</div>
</body>

